<%= link_to("<<back to last", {:action =>'index'}, :class => 'back-link')%>

<div class ="subject delete ">
<h2>Delete Subject</h2>
<%= form_for(:subject, :url => {:action =>'destroy',:id => @subject.id}) do |f| %>

<p>Are you shure want to permanently delete this subject?</p>

<p class ="reference-name"><%= @subject.name %></p>

<div class ="from-buttons">
<%= submit_tag("Delete Subject")%>
</div>
<%end%>
</div>
